**/*.o
**/*.d
**/*.bin
**/*.rev
.vscode/*
*.iso
*.img
**/*.iso
*.rev
write*
*.elf
**/*.old*
*.mp3
**/*.mp3
out/*
programs/*
out
programs
.vscode
.gitignore
isodir/*
isodir
dripmount
.clang-format
emit_format
qloader2/**
qloader2
memory_log.txt